.wrapper {
    display: flex;
    background-position-y: 16%;

    .gradient {
        padding: 15px;
        width: 100%;
        background: rgb(49, 67, 193);
        background: linear-gradient(
            90deg,
            rgba(49, 67, 193, 1) 0%,
            rgba(253, 196, 29, 0) 50%,
            rgba(252, 176, 69, 1) 100%
        );
        h1 {
            text-align: center;
            font-size: 44px;
            font-weight: 400;

            b {
                font-weight: 700;
            }
        }
        h3 {
            text-align: center;
            font-size: 24px;
            b {
                font-weight: 700;
            }
        }
        h4 {
            font-weight: 400;
            text-align: center;
            b {
                font-weight: 600;
                font-size: 18px;
            }
        }
    }
}

@media (max-width: 768px) {
    .wrapper .gradient {
        h1 {
            font-size: 25px;
        }
        h4,
        h2 {
            font-size: 15px;
        }
    }
}
