.wrapper {
    button {
        display: block;
        background: none;
        border: none;
        cursor: pointer;
        padding: 10px;
        font-weight: 500;
        font-size: 25px;
    }
    .decor {
        width: 2px;
        height: 20px;
        background: black;
    }
    .active {
        font-weight: 700;
        text-decoration: underline;
    }
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
