html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}
#__next {
    display: flex;
    height: 100%;

    flex-direction: column;
}
main {
    flex-grow: 1;
    background: radial-gradient(
        circle,
        rgba(38, 24, 223, 0.887) 0%,
        rgba(238, 246, 12, 0.866) 100%
    );
}
ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
* {
    box-sizing: border-box;
}
